<!DOCTYPE html>
<html>
	<head>
		<link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="../static/css/bootstrap.css" />
		
		<script th:src"@{/js/jquery.js}" src="../static/js/jquery.js"></script>
		<script th:src"@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
		
		<title>League Of Legends</title>
	</head>
	<body>
	
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="#">League Of Legends</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		      <div class="navbar-nav">
		        <a class="nav-link active" th:href="@{/}" aria-current="page" href="/home">Home</a>
		        <a class="nav-link" href="#">Features</a>
		        <a class="nav-link" href="#">Pricing</a>
		        <a class="nav-link" href="/home/putear">Help</a>
		      </div>
		    </div>
		  </div>
		</nav>
		<div class="jumbotron" style="text-align-last: center; margin-left: 0px;margin-right:0px;">
			<h1 class="display-4">Campeones</h1>
			<p class="lead">157 Posibilidades</p>
			<hr class="my-4">
			<a class="btn btn-primary btn-lg" href="/home/#" role="button">Desplegar</a>
		</div>
		
		
		<div class="container">
		
			<div class="row" >
			
				<!--Cards-->
				<div th:each="post:${posts}" class="col-2">	
					<div class="card" style="width: 10rem;">
					  <img th:src="${post.urlImg}"  src="../static/img/post.jpg" class="card-img-top" style="margin-left: 0rem;" alt="...">

					  <div class="card-body" style="height: 11rem;">
					    <h6 th:text="${post.name}" class="card-title" style="text-align: center;" >Card title</h6>
					    <h5 th:text="${post.secondName}" class="card-title" style="text-align: center;" >Card title</h5>
					    <p th:text="${post.description}" class="card-text" style= "text-align: center;">Text</p>
					    <p th:text="@{#} + ${post.id}" class="card-text" style="text-align: center;">Number Shirt</p>
					    <a th:href="@{/home/post/} + ${post.id}" class="btn btn-primary" style="position: absolute; bottom :0px; left:0px ; right:0px ;">Go somewhere</a>
					  </div>
					</div>
				</div>
			</div>
		
		<div class="row">
			<div class="col-12" style="margin-top: 20rem;margin-bottom: 0rem;">
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
						<li class="page-item"><a class="page-link" href="#">Previous</a></li> 
						<li class="page-item"><a class="page-link" href="#">1</a></li>		
						<li class="page-item"><a class="page-link" href="#">2</a></li>		
						<li class="page-item"><a class="page-link" href="#">3</a></li>				
						<li class="page-item"><a class="page-link" href="#">Next</a></li>
					</ul>
				</nav>		
			</div>
		</div>
		</div>
	
						
	</body>
	
</html>